---
import { navigationLinks } from '../config';
const { pathname } = Astro.url;

const aboutLink = navigationLinks[0];
const workLinks = navigationLinks.slice(1);
---
<nav>
  <ul>
    <li>
      <a rel="prefetch" title={aboutLink.title} href={aboutLink.href} aria-current={pathname === aboutLink.href ? 'page' : false}>{aboutLink.title}</a>
    </li>
  </ul>
  <h2>Work</h2>
  <ul>
    {workLinks.map(link => (
      <li>
        <a rel="prefetch" title={link.title} href={link.href} aria-current={pathname.startsWith(link.href) ? 'page' : false}>
          {link.title}
        </a>
      </li>
    ))}
  </ul>
</nav>
